<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/editar_servicio.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body>
    <header id="header"></header>

    <main>
        <section>
            <div class="container-form">
                <form>
                    <div class="entrada">
                        <label for="id">ID</label>
                        <input type="number" name="id" id="id" disabled>
                    </div>

                    <div class="entrada">
                        <label for="cliente">Cliente</label>
                        <input type="text" name="cliente" id="cliente">
                    </div>

                    <div class="entrada">
                        <label for="cuit">Cuit:</label>
                        <input type="number" name="cuit" id="cuit">
                    </div>

                    <div class="entrada">
                        <label for="fecha">Fecha:</label>
                        <input type="number" name="fecha" id="fecha">
                    </div>

                    <div class="entrada">
                        <label for="encargo">Encargo:</label>
                        <input type="text" name="encargo" id="encargo">
                    </div>
                    
                    <button class="modificar" type="button" onclick="modificar()">Modificar</button>
                </form>
              </div>
        </section>
    </main>

    <footer></footer>

    <script src="../static/js/editar_servicio.js"></script>
    <script src="../static/js/header.js"></script>
    <script src="../static/js/datos_editar.js"></script>
</body>
</html>
